*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family:serif;
    min-height: 100vh;
    display:block;
    align-items: center;
    justify-content:flex-end;
    background-image: url(../Fotos/merlina.jpeg);
    background-size:cover; 
    width: 100%;
    height: 100%;
}
.contenedorr{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    left: 100px;
   }

   .logo img{
       height: 70px;
       width: 70px;
      
   }
nav{
    top: 0;
    display:flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(223, 204, 240);
    font-size: 20px;
    gap: 1rem;
    position:absolute;
    opacity: 0.70;
}
.menu-horizontal{
    list-style: none;
    display: flex;
justify-content: space-between;

}
.menu-horizontal>li>a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu-horizontal>li:hover{
    background-color: rgb(229, 179, 247);
padding: 2px;
margin: auto;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

main{
    width: 100%;
    height: 80%;
  padding-top: 70px;  
  display:grid;
    justify-content:center;
    align-items: center;
    font-family: sans-serif;
}

form{
    justify-content: center;
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}
.input-g{
    display: flex;
    flex-direction: column;
    text-align: left;
}
h2{
    color: rgb(182, 103, 255);
    font-size: 35px;
}
label{
    color: rgb(182, 103, 255);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid rgb(182, 103, 255);
    color: #000;
    outline:none;
}
input::placeholder,textarea::placeholder{
    color:gray;
}

.btn{
    font-size: 16px;
    color:#fff;
    border: 0;
    border-radius: 25px;
    background-color:rgb(182, 103, 255);
    box-shadow: 0 0 20px rgba(252, 1, 197, 0.212);
    cursor: pointer;
}
.btn:hover{
background-color: violet;
}

.pie-pagina{
    width: 100%;
    background-color: rgb(182, 103, 255); 
   
}
.pie-pagina .gru1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding: 10px 0px;
}

.pie-pagina .gru1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:left;
    align-items:center;
}

.pie-pagina .gru1 .box figure img{
    width: 200px;   
}

.pie-pagina .gru1 .box h3{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .gru1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .gru1 .red-soc a{
    display: inline-block;
    text-decoration: none; 
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    margin-right: 5px;
    background-color: black;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .gru1 .red-soc a:hover{
    color: violet;
}
.pie-pagina .gru2{
 background-color: rgba(181, 52, 255, 0.986);   
 padding: 5px 10px;
 text-align: center;
 color: #fff;
}

.pie-pagina .gru2 small{
    font-size: 15px;
}
@media (max-width: 600px){
    body{
        font-size: 16px;
    }
    .contenedorr{
        width: 100%;
        padding: 10px;
    }
    
}